<section class="secetion-artical">
    <div class="id-articals">
        <div class="title-div">
            <h2 class="artical-title">
                <%= artical.title%>
            </h2>
            <hr class="title-below">
        </div>
        <h6 class="author-name"> <u> <%= artical.author%></u></h6>
        <div class="artical-img-div"><img src="/images/<%= artical.image%>" alt="" class="artical-img">
            <i>Image Realted Some Thing</i>
        </div>
        <p class="artical">
            <%= artical.para1%>
        </p>
        <div class="artical-img-div"><img src="/images/<%= artical.image%>" alt="" class="artical-img">
            <i>Image Realted Some Thing</i>
        </div>
        <p class="artical">
            <%= artical.para2%>
        </p>
        <div class="artical-img-div"><img src="/images/<%= artical.image%>" alt="" class="artical-img">
            <i>Image Realted Some Thing</i>
        </div>
        <p class="artical">
            <%= artical.para3%>
        </p>
        <hr>
    </div>
</section>
<section class="numbers">
</section>